* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#diamond-container {
  outline: 2px solid black;
  padding-inline: 20px;
  display: inline-block;
  height: auto;
  position: relative;
}
